.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.test-string-input,
.matches {
  font-family: monospace; /* フォントファミリーを揃える */
  line-height: 1.5; /* 行の高さを揃える */
  font-size: 1rem; /* フォントサイズを揃える */
}

label {
  font-weight: bold;
}

footer {
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
